@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

@layer base {
  @font-face {
    font-family: "FontAwesome";
    src: url("/public/fonts/fontawesome-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

@layer components {
  .code-bg {
    background-color: var(--tw-prose-pre-bg);
  }
  .code-title {
    @apply text-coders51dark;
  }
}

@layer utilities {
  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers][data-line-numbers-max-digits="2"]
    > [data-line]::before {
    width: 2rem;
  }

  code[data-line-numbers][data-line-numbers-max-digits="3"]
    > [data-line]::before {
    width: 3rem;
  }

  figure[data-rehype-pretty-code-figure]:has(
      figcaption[data-rehype-pretty-code-title]
    ) {
    margin-top: 3rem;
  }

  figure[data-rehype-pretty-code-figure]:has(
      figcaption[data-rehype-pretty-code-title]
    )
    pre {
    @apply rounded-tl-none;
  }

  figure figcaption[data-rehype-pretty-code-title] {
    top: -3rem;
    width: fit-content;
    left: 0;
    padding: 0.5rem 1rem;
  }

  figure figcaption[data-rehype-pretty-code-title] {
    @apply border-t-2 dark:border-coders51dark border-sky-600;
  }

  figure figcaption[data-rehype-pretty-code-title] {
    @apply code-bg code-title;
  }

  figure pre [data-highlighted-line] {
    @apply bg-green-500/20 border-l border-green-100 pl-1 before:!content-["+"];
  }

  code {
    @apply code-bg px-1 before:hidden after:hidden;
  }

  blockquote {
    @apply rounded-md bg-gray-500/10 dark:bg-black/10;
  }

  .prose a {
    @apply hover:text-current transition-colors duration-300;
  }

  .nav li a {
    @apply uppercase font-bold leading-5 hover:opacity-90;
  }

  .nav li a:not(.active-link) {
    @apply transition-all duration-200 after:content-[""] after:block after:h-0.5 after:bg-white after:w-full after:translate-y-[5px] after:hover:translate-y-0 after:opacity-0 after:transition-all after:duration-200 after:hover:opacity-100;
  }

  .active-link {
    @apply after:content-[""] after:block after:h-0.5 after:bg-white after:w-full after:transition-all after:duration-200;
  }

  .navbar-toggle {
    @apply xl:hidden block mr-4 h-10 w-10 fixed right-0 p-0 z-[99];
  }

  #theme-toggle {
    @apply fixed xl:flex mr-4 xl:mr-0 right-16 mt-2 xl:mt-0;
  }

  /* -- Mobile Nav -- */
  @media only screen and (max-width: 1280px) {
    #nav {
      position: fixed;
      top: 0;
      right: -44px;
      width: 0%;
      max-width: 250px;
      height: 100vh;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
      padding-top: 80px;
      padding-bottom: 40px;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: 0.4s all cubic-bezier(0.77, 0, 0.18, 1);
      transition: 0.4s all cubic-bezier(0.77, 0, 0.18, 1);
      z-index: 9;
    }

    .nav li a:not(.active-link) {
      @apply dark:after:bg-white after:bg-black;
    }

    .active-link {
      @apply dark:after:bg-white after:bg-black;
    }

    .nav-collapse #nav {
      right: 0;
    }

    #nav {
      @apply bg-coders51dark dark:bg-darkBg;
    }

    #header.nav-collapse #nav {
      width: 100%;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%);
    }

    .nav {
      @apply flex-col gap-y-4 text-center;
    }

    .nav li a {
      color: black;
    }

    .dark .nav li a {
      color: white;
    }
  }

  .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  /* -- Mobile Toggle Btn -- */

  .navbar-toggle > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s background;
    transition: 0.2s background;
  }

  .navbar-toggle > span:before,
  .navbar-toggle > span:after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s -webkit-transform;
    transition: 0.2s -webkit-transform;
    transition: 0.2s transform;
    transition: 0.2s transform, 0.2s -webkit-transform;
  }

  .navbar-toggle > span,
  .navbar-toggle > span:before,
  .navbar-toggle > span:after {
    height: 2px;
    width: 25px;
    background-color: white;
  }

  .nav-collapse .navbar-toggle > span,
  .nav-collapse .navbar-toggle > span:before,
  .nav-collapse .navbar-toggle > span:after {
    height: 2px;
    width: 25px;
    background-color: #374050;
  }

  .dark .nav-collapse .navbar-toggle > span,
  .dark .nav-collapse .navbar-toggle > span:before,
  .dark .nav-collapse .navbar-toggle > span:after {
    background-color: white;
  }

  .navbar-toggle > span:before {
    top: -10px;
  }

  .navbar-toggle > span:after {
    top: 10px;
  }

  #header.nav-collapse .navbar-toggle > span {
    background: transparent;
  }

  #header.nav-collapse .navbar-toggle > span:before {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }

  #header.nav-collapse .navbar-toggle > span:after {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
}
