---
import { FacebookIcon } from "./icons/FacebookIcon";
import { LinkedinIcon } from "./icons/LinkedinIcon";
import { TwitterIcon } from "./icons/TwitterIcon";
---

<footer>
  <div class="mx-auto flex items-center justify-center gap-x-8 py-10">
    <LinkedinIcon />
    <TwitterIcon />
    <FacebookIcon />
  </div>
</footer>
