---
import { FacebookIcon } from "./icons/FacebookIcon";
import { LinkedinIcon } from "./icons/LinkedinIcon";
import { XIcon } from "./icons/XIcon";
---

<footer>
  <div
    class="mx-auto lg:px-10 lg:py-8 px-8 py-4 border-t border-darkBg dark:border-coders51dark"
  >
    <div class="lg:w-1/2 mx-auto">
      <div class="w-full flex items-center justify-center lg:justify-start">
        <div
          class="sm:w-1/2 w-full items-center flex justify-center lg:justify-start"
        >
          <a href="https://www.coders51.com" class="inline-block">
            <img
              id="footer-logo"
              src="/assets/logo.png"
              alt="coders51 Logo"
              class="w-28"
              transition:persist
            />
          </a>
        </div>
      </div>
      <div class="mt-8 lg:mt-5 flex w-full lg:flex-row flex-col-reverse gap-4">
        <div class="lg:w-1/2 w-full flex justify-center lg:justify-start">
          <span
            class="text-xs text-center lg:text-start sm:text-sm dark:text-white"
          >
            &copy; Copyright 2022. All Rights Reserved.
            <br />
            coders51 SRL - Viale Angelo Masini 12/14 - 40126 Bologna (BO) - Italy
            - VAT ID 03455241202
          </span>
        </div>
        <div class="lg:w-1/2 w-full flex lg:justify-end justify-center">
          <div class="flex items-center justify-center gap-x-8">
            <LinkedinIcon />
            <XIcon />
            <FacebookIcon />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script is:inline>
  function updateTheme() {
    const footerLogo = document.getElementById("footer-logo");
    const theme = localStorage.getItem("theme");

    if (
      theme === "dark" ||
      (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      footerLogo.src = "/assets/logo_white_big.png";
    } else {
      footerLogo.src = "/assets/logo.png";
    }
  }

  // Initial update based on the theme
  updateTheme();

  // Listen for theme change event
  window.addEventListener("themeChange", updateTheme);
</script>
