---
import { FacebookIcon } from "./icons/FacebookIcon";
import { LinkedinIcon } from "./icons/LinkedinIcon";
import { XIcon } from "./icons/XIcon";
---

<footer>
  <div class="mx-auto flex items-center justify-center gap-x-8 py-10">
    <LinkedinIcon />
    <XIcon />
    <FacebookIcon />
  </div>
</footer>
