---
import DarkModeToggle from "src/components/DarkModeToggle";
---

<header
  id="header"
  class="fixed h-20 flex w-full items-center justify-center bg-gradientHeader backdrop-blur-xl z-[99]"
>
  <div class="flex w-full justify-between items-center xl:w-5/6">
    <a href="/" class="ml-4 flex items-center space-x-2 group">
      <img
        id="header-logo"
        src="/assets/logo_white_big.png"
        alt="coders51 Logo"
        class="xl:w-40 w-32"
      />
      <div
        class="rounded-lg border-darkBg bg-coders51 px-2 py-1 border text-coders51dark group-hover:bg-coders51/80 transition-colors duration-300"
      >
        <span class="font-semibold">BLOG</span>
      </div>
    </a>
    <div class="flex items-center gap-x-8">
      <nav id="nav">
        <ul class="flex text-white nav items-center gap-x-8 m-0">
          <li>
            <a href="https://www.coders51.com/">Home</a>
          </li>
          <li><a href="https://www.coders51.com/#whoweare">Who we are</a></li>
          <li><a href="https://www.coders51.com/#whatwedo">What we do</a></li>
          <li>
            <a href="https://www.coders51.com/#customers">Success Stories</a>
          </li>
          <li><a href="https://www.coders51.com/#community">Community</a></li>
          <li><a class="active-link" href="/">Blog</a></li>
          <li>
            <a
              href="https://coders51.typeform.com/to/BpB9pe"
              data-mode="popup"
              class="typeform-share">Contact Us</a
            >
          </li>
        </ul>
      </nav>
      <div class="flex items-center gap-x-4">
        <DarkModeToggle client:only="react" />
        <button class="navbar-toggle" transition:persist>
          <span></span>
        </button>
      </div>
    </div>
  </div>
</header>

<script is:inline>
  (function () {
    var qs,
      js,
      q,
      s,
      d = document,
      gi = d.getElementById,
      ce = d.createElement,
      gt = d.getElementsByTagName,
      id = "typef_orm_share",
      b = "https://embed.typeform.com/";
    if (!gi.call(d, id)) {
      js = ce.call(d, "script");
      js.id = id;
      js.src = b + "embed.js";
      q = gt.call(d, "script")[0];
      q.parentNode.insertBefore(js, q);
    }
  })();

  const navbarToggle = document.getElementsByClassName("navbar-toggle")[0];

  navbarToggle?.addEventListener("click", () => {
    const header = document.querySelector("header");
    if (header) {
      header.classList.toggle("nav-collapse");
    }
  });
</script>
